.hero {
    width: 100%;
    height: 800px;
    text-align: center;
    background: #000b15 url('../img/IMAGE.png') center / 100%  no-repeat fixed;
    @media (max-width: 1025px) {
        background: #000b15 url('../img/IMAGE.png') center  no-repeat fixed;
    }
    @media (max-width: 526px) {
        margin-top: -31px;
    }

    .hero_container {
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0 auto;
        background-color: #0000004b;
        
        p {
            font-weight: 500;
            margin-top: 145px;
            color: #FFAE2B;
            font-size: 22px;
            @media (max-width: 526px) {
                font-size: 18px;
            }
        }

        h1 {
            color: wheat;
            font-size: 70px;
            font-weight: 400;
            margin: 15px 0 35px 0;
            @media (max-width: 526px) {
                font-size: 48px;
            }
        }

        button {
            border: none;
            color: #021f3e;
            padding: 15px 25px;
            background: #FFAE2B;
            border-radius: 10px;
            &:hover {
                background: #ffae2ba8;
            }

            a{  
                color: #021f3e;
                text-decoration: none;
            }
        }
    }
}