* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    background: #000b15;
    font-family: 'Old Standard TT';
    
    
    h3 {
        font-weight: 400;
        &::selection {
           background-color: #FFAE2B;
           color: #021e39;
        }
    }
    
    p {
        color: wheat;
        &::selection {
            background-color: #FFAE2B;
            color: #021e39;
        }
    }

    h1::selection {
        background-color: #FFAE2B;
        color: #021e39;
    }

    h2::selection {
        background-color: #FFAE2B;
        color: #021e39;
    }   

    h4::selection {
        background-color: #FFAE2B;
        color: #021e39;
    }     
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000b15;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(0,35,254,1) 0%, rgba(255,252,6,1) 91%);;
    border-radius: 5px;
}

// header
@import 'header.scss';

// hero
@import 'hero.scss';

// quote
@import 'quote.scss';

// gallery
@import 'gallery.scss';

//  position
@import 'position.scss';

//  video
@import 'video.scss';

// donat
@import 'donat.scss';

// footer
@import 'footer.scss';